#################################################
# GLOBAL
#################################################

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# OS files
Thumbs.db
.DS_Store

#################################################
# .NET / C#
#################################################

# NuGet
packages/
*.nupkg

#################################################
# AL / Business Central
#################################################

# launch.json folder
.vscode/

# Cache folder
.alcache/

# Symbols folder
.alpackages/

# Snapshots folder
.snapshots/

# Testing Output folder
.output/

# Extension App-file
*.app

# Rapid Application Development File
rad.json

# Translation Base-file
*.g.xlf

# License-files
*.bclicense
*.flf

# Test results file
TestResults.xml